<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- cdn dosyası ile ekeme yaptık -->
</head>
<body>
    <div id="app">
        <input type="text" v-model="listItem">
        <button @click="addToList">Ekle</button>
        
        <ul>
            <li v-for="item in itemList">{{item}}</li>
        </ul>
    </div>
    <script src="app.js"></script>
</body>
</html>